<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources>
      <clear />
    <add key="recipe" value="true" />
    <add key="dotnet7" value="true" />
  </disabledPackageSources>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="recipe" value="https://pkgs.dev.azure.com/alfredoball/Recipe/_packaging/recipe/nuget/v3/index.json" />
    <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <recipe>
      <add key="Username" value="LocalBuildAgent" />
      <add key="ClearTextPassword" value="yvwjupspme6w4r255immu232lmsho4nj6lu2jcxabtg2jz2s6fna" />
    </recipe>
  </packageSourceCredentials>
</configuration>