<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="recipe" value="https://pkgs.dev.azure.com/alfredoball/Recipe/_packaging/recipe/nuget/v3/index.json" />
  </packageSources>
    <packageSourceCredentials>
    <recipe>
      <add key="Username" value="LocalBuildAgent" />
      <add key="ClearTextPassword" value="egm4i6hb4vghgu42v4wdpsaqaqcjo43aawibcor57mctywdyuuqa" />
    </recipe>
  </packageSourceCredentials>
</configuration>